<launch>
  <arg name="enable_pointcloud" default="true" />
  <arg name="fps" default="15" />

  <include file="$(find realsense_ros_tools)/launch/rs_camera.launch" >
    <arg name="enable_pointcloud" value="$(arg enable_pointcloud)" />
    <arg name="fps" value="$(arg fps)" />
  </include>

  <!-- RViz -->
  <node name="rviz_rs_camera" pkg="rviz" type="rviz" args="-d $(find realsense_ros_tools)/launch/rviz/rs_camera.rviz" />
</launch>