<launch>
  <arg name="bag_file" default="rs_camera.bag" />
  <arg name="playback_speed" default="1" />
  <arg name="start_time" default="0.0" />

  <include file="$(find realsense_ros_tools)/launch/rs_rosbag.launch">
    <arg name="bag_file" value="$(arg bag_file)" />
    <arg name="playback_speed" value="$(arg playback_speed)" />
    <arg name="start_time" value="$(arg start_time)" />
  </include>

  <!-- RViz -->
  <node name="rs_rosbag" pkg="rviz" type="rviz" args="-d $(find realsense_ros_tools)/launch/rviz/rs_camera.rviz" />
</launch>