<launch>
  <arg name="project_dir" default="" />
  <arg name="bag_file" default="rs_camera.bag" />
  <!-- For preventing frame drop: High level PNG compression is too slow -->
  <!-- Change png_level from 9 to 4 -->
  <!-- <rosparam>
    /camera/depth/image_rect_raw/compressedDepth/png_level: 4
    /camera/aligned_depth_to_color/image_raw/compressedDepth/png_level: 4
  </rosparam> -->

  <node name="rs_camera_recorder" pkg="realsense_ros_tools" type="record_rs_camera.sh" output="screen"
  args="$(arg bag_file) $(arg project_dir)" />

</launch>